/* Estilo general para el fondo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(Fondo3.jpg);
}

/* Estilo del formulario */
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Título */
h2.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #4CAF50;
}

/* Estilo de los inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fafafa;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Estilo del botón */
button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para el campo de fecha */
input[type="date"] {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Estilo para dispositivos móviles */
@media screen and (max-width: 600px) {
    form {
        padding: 20px;
    }

    h2.titulo {
        font-size: 20px;
    }
}
